<template>
    <div class="hero-section w-full">
        <div class="flex justify-between items-center max-w-7xl mx-auto py-10 px-4 xl:px-0 gap-10">
            <div>
                <h1 class="font-medium mb-6">Be free.<br>Be part of the<br>Remote Work Club</h1>
                <p class="text-xl font-light text-gray-500">Find remote jobs that offer you the freedom to<br>work remotely from home or anywhere around the world.</p>
                <div class="actions mt-10">
                    <ButtonPrimary class="px-10">
                        Post a Job
                    </ButtonPrimary>
                </div>
            </div>
            <div class="hidden lg:block">
                <img :src="require('@assets/img/hero-img.png')" alt="Remote Work Club"/>
            </div>
        </div>
    </div>
    <div class="max-w-7xl mx-auto py-10 px-4 xl:px-0">
        <div class="flex flex-col items-center">
            <h5 class="text-gray-500 font-normal">Trusted by the world's leading companies</h5>
            <div class="flex justify-center items-center gap-20">
                <img class="filter grayscale" :src="company.imgUrl" :alt="company.name" v-for="(company, index) in companies" :key="index" />
            </div>
        </div>
    </div>
    <div class="max-w-7xl mx-auto py-10 px-4 xl:px-0">
        <Search/>
    </div>
</template>

<script>
import Search from '@components/Search'
export default {
    name: 'Home',
    components: {
        Search
    },
    data() {
        return {
            companies: [
                { name: 'Google', imgUrl: require('@assets/img/companies/google.png') },
                { name: 'Amazon', imgUrl: require('@assets/img/companies/amazon.png') },
                { name: 'Github', imgUrl: require('@assets/img/companies/github.png') },
                { name: 'Basecamp', imgUrl: require('@assets/img/companies/basecamp.png') },
                { name: 'Invision', imgUrl: require('@assets/img/companies/invision.png') },
            ]
        }
    }
}
</script>

<style lang="scss">

.hero-section {
    background-image: url('../assets/svg/hero.svg');
    background-size: cover;
    background-position: right;
}

</style>