<template>

    <div class="max-w-7xl mx-auto py-10 px-4 xl:px-0">


        <!-- Content -->
        <div class="flex flex-col items-center max-w-3xl m-auto">

            <h2 class="text-4xl">Terms & Conditions</h2>

            <div class="post-content py-6 md:py-10 text-xl font-light text-gray-700 leading-8">

                <p>Google Analytics is a fantastic tool because it eliminates the guesswork as to how visitors behave on a website.</p>

                <p>Conversion rates are one of the top priorities for many marketing websites,
                and Google Analytics can certainly help give you insight as to why the conversion rate is what it is.
                It can also shed light on additional user experience issues.</p>

                <p>Google Analytics is a tool for improving products, not just marketing websites.</p>

                <p>It tells you exactly what users are doing, where they’re coming from, how long they engaged, and so on.</p>

                <p>All of those things impact conversion rates and retention rates, among other metrics.
                Google Analytics can be a complicated tool, but it provides an enormous amount of data and insights.
                So, today we’ll be talking about two subsets of what you can use Google Analytics for as a UX designer: user behavior and user intent.</p>

            </div>

        </div>

    </div>

</template>

<script>
export default {
    name: 'Terms',
    data() {
        return {
        }
    },
    mounted() {
        document.title = 'Terms & Conditions'
    }
}
</script>

<style lang="scss" scoped>
p {
    &:not(:last-child) {
        @apply mb-6;
    }
}

</style>