<template>
    <button v-bind="$attrs">
        <slot></slot>
    </button>
</template>

<script>
export default {
    name: 'ButtonPrimary',
    data() {
        return {
            label: 'Post a Job'
        }
    }
}
</script>

<style lang="scss" scoped>

button {
    background: $primary-color;
    @apply text-white;
    @apply px-4;
    @apply py-2;
    @apply rounded-md;
    @apply duration-75;

    &:hover {
        background: #28d9af;
    }

    &:disabled {
        @apply bg-gray-300;
        @apply text-gray-500;
    }
}

</style>