<template>

    <div class="comment flex gap-5 py-2">
        <content-loader class="rounded-full" width="48" height="48"
                        :primaryColor="primaryColor"
                        :secondaryColor="secondaryColor"
                        :primaryOpacity="primaryOpacity"
                        :secondaryOpacity="secondaryOpacity">
        </content-loader>
        <div class="data flex-grow border-b pb-4">
            <div class="header flex justify-between mb-3">

                <content-loader width="160" height="22"
                                :primaryColor="primaryColor"
                                :secondaryColor="secondaryColor"
                                :primaryOpacity="primaryOpacity"
                                :secondaryOpacity="secondaryOpacity">
                </content-loader>

                <content-loader width="120" height="22"
                                :primaryColor="primaryColor"
                                :secondaryColor="secondaryColor"
                                :primaryOpacity="primaryOpacity"
                                :secondaryOpacity="secondaryOpacity">
                </content-loader>

            </div>

            <content-loader class="mb-1" width="70%" height="22"
                            :primaryColor="primaryColor"
                            :secondaryColor="secondaryColor"
                            :primaryOpacity="primaryOpacity"
                            :secondaryOpacity="secondaryOpacity">
            </content-loader>

            <content-loader class="mb-5" width="60%" height="22"
                            :primaryColor="primaryColor"
                            :secondaryColor="secondaryColor"
                            :primaryOpacity="primaryOpacity"
                            :secondaryOpacity="secondaryOpacity">
            </content-loader>

        </div>
    </div>

</template>

<script>
import { ContentLoader } from 'vue-content-loader'
export default {
    name: 'CommentLoader',
    components: {
        ContentLoader
    },
    data() {
        return {

            primaryColor: '#000',
            primaryOpacity: 0.05,

            secondaryColor: '#000',
            secondaryOpacity: 0.1,

        }
    }
}
</script>
