<template>
    <div class="footer shadow-sm w-full bg-black">

        <div class="max-w-7xl mx-auto pt-10 px-4 xl:px-0">

            <div class="grid grid-cols-6 w-full pb-10 border-b border-white border-opacity-5">

                <!-- Logo -->
                <a href="">
                    <img src="@/assets/logo.png" alt="RemoteWorkClub" style="width: 120px">
                </a>

                <!-- Nav -->
                <div class="widget">
                    <h3 class="text-xl text-white mb-6">Categories</h3>
                    <div class="flex-grow flex flex-col justify-center gap-4">
                        <a href="" class="text-gray-500" v-for="(item, index) in navItems" :key="index">
                            {{ item.name }}
                        </a>
                    </div>
                </div>

                <!-- Nav -->
                <div class="widget">
                    <h3 class="text-xl text-white mb-6">Community</h3>
                    <div class="flex-grow flex flex-col justify-center gap-4">
                        <a href="" class="text-gray-500" v-for="(item, index) in navItems" :key="index">
                            {{ item.name }}
                        </a>
                    </div>
                </div>

                <!-- Nav -->
                <div class="widget">
                    <h3 class="text-xl text-white mb-6">Job Seekers</h3>
                    <div class="flex-grow flex flex-col justify-center gap-4">
                        <a href="" class="text-gray-500" v-for="(item, index) in navItems" :key="index">
                            {{ item.name }}
                        </a>
                    </div>
                </div>

                <!-- Nav -->
                <div class="widget">
                    <h3 class="text-xl text-white mb-6">Employees</h3>
                    <div class="flex-grow flex flex-col justify-center gap-4">
                        <a href="" class="text-gray-500" v-for="(item, index) in navItems" :key="index">
                            {{ item.name }}
                        </a>
                    </div>
                </div>

                <!-- Nav -->
                <div class="widget">
                    <h3 class="text-xl text-white mb-6">Blogs</h3>
                    <div class="flex-grow flex flex-col justify-center gap-4">
                        <a href="" class="text-gray-500" v-for="(item, index) in navItems" :key="index">
                            {{ item.name }}
                        </a>
                    </div>
                </div>

            </div>

            <div class="py-6">
                <span class="text-white text-opacity-60">Copyright © 2022</span>
            </div>

        </div>

    </div>
</template>

<script>
export default {
    name: 'Footer',
    data() {
        return {
            navItems: [
                { name: 'Categories', children: [] },
                { name: 'Community', children: [] },
                { name: 'Job Seekers' },
                { name: 'Employees', children: [] },
                { name: 'Blogs' }
            ]
        }
    }
}
</script>
