<template>
    <div class="header shadow-sm fixed w-full bg-white h-20">
        <div class="max-w-7xl mx-auto flex items-center px-4 xl:px-0 py-4">

            <!-- Logo -->
            <a href="">
                <img src="@/assets/logo.png" alt="RemoteWorkClub" style="width: 120px">
            </a>

            <!-- Nav -->
            <div class="flex-grow flex justify-center gap-4">
                <a href="" class="text-gray-400 hover:text-gray-800 inline-flex items-center px-4 py-2 gap-1 duration-100" v-for="(item, index) in navItems" :key="index">
                    {{ item.name }}
                    <svg class="mt-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" v-if="item.children">
                        <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>

            <!-- Actions -->
            <div>
                <ul class="flex items-center h-full gap-4">
                   <ButtonPrimary>
                       Post a Job
                   </ButtonPrimary>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Header',
    data() {
        return {
            navItems: [
                { name: 'Reviews' },
                { name: 'Guides' },
                { name: 'Community' },
                { name: 'Inspirations' },
                { name: 'Blog' }
            ]
        }
    }
}
</script>
