<template>

    <!-- Author -->
    <content-loader class="mb-10" width="150" height="25"
        :primaryColor="primaryColor"
        :secondaryColor="secondaryColor"
        :primaryOpacity="primaryOpacity"
        :secondaryOpacity="secondaryOpacity">
    </content-loader>

    <!-- Post Title -->
    <content-loader class="mb-2" width="100%" height="35"
        :primaryColor="primaryColor"
        :secondaryColor="secondaryColor"
        :primaryOpacity="primaryOpacity"
        :secondaryOpacity="secondaryOpacity">
    </content-loader>

    <content-loader class="mb-12" width="60%" height="35"
        :primaryColor="primaryColor"
        :secondaryColor="secondaryColor"
        :primaryOpacity="primaryOpacity"
        :secondaryOpacity="secondaryOpacity">
    </content-loader>

    <!-- Post Image Header -->
    <content-loader class="mb-8" width="100%" height="400"
        :primaryColor="primaryColor"
        :secondaryColor="secondaryColor"
        :primaryOpacity="primaryOpacity"
        :secondaryOpacity="secondaryOpacity">
    </content-loader>

    <!-- Paragraph -->
    <content-loader class="mb-2" width="100%" height="25"
        :primaryColor="primaryColor"
        :secondaryColor="secondaryColor"
        :primaryOpacity="primaryOpacity"
        :secondaryOpacity="secondaryOpacity">
    </content-loader>

    <content-loader class="mb-2" width="70%" height="25"
        :primaryColor="primaryColor"
        :secondaryColor="secondaryColor"
        :primaryOpacity="primaryOpacity"
        :secondaryOpacity="secondaryOpacity">
    </content-loader>

    <content-loader class="mb-2" width="100%" height="25"
        :primaryColor="primaryColor"
        :secondaryColor="secondaryColor"
        :primaryOpacity="primaryOpacity"
        :secondaryOpacity="secondaryOpacity">
    </content-loader>

    <content-loader class="mb-2" width="100%" height="25"
        :primaryColor="primaryColor"
        :secondaryColor="secondaryColor"
        :primaryOpacity="primaryOpacity"
        :secondaryOpacity="secondaryOpacity">
    </content-loader>

    <content-loader class="mb-2" width="60%" height="25"
        :primaryColor="primaryColor"
        :secondaryColor="secondaryColor"
        :primaryOpacity="primaryOpacity"
        :secondaryOpacity="secondaryOpacity">
    </content-loader>

</template>

<script>
import { ContentLoader } from 'vue-content-loader'
export default {
    name: 'PostLoader',
    components: {
        ContentLoader
    },
    data() {
        return {

            primaryColor: '#000',
            primaryOpacity: 0.05,

            secondaryColor: '#000',
            secondaryOpacity: 0.1,

        }
    }
}
</script>
