<template>
    <div class="search-box text-center">
        <h2 class="mb-8">Let's dive into ocean of knowledge... </h2>
        <div class="search-field relative border border-gray-300 hover:border-gray-400 rounded-md overflow-hidden duration-75">
            <svg width="24" height="24" fill="none" aria-hidden="true" class="mr-3 flex-none text-gray-400 absolute top-4 left-4 pointer-events-none">
                <path d="m19 19-3.5-3.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <circle cx="11" cy="11" r="6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></circle>
            </svg>
            <input type="text" class="w-full p-4 focus:outline-none pl-12" placeholder="Remote job, Blog, Inspirations..."/>
        </div>
        <div class="popular-searches flex justify-center py-6">
            <h5 class="text-sm text-gray-500">Popular Searches:</h5>
            <div class="suggestions flex gap-8 px-10">
                <a href="" class="suggestion-link text-sm font-medium hover:underline" v-for="(suggestion, index) in suggestions" :key="index">{{ suggestion}}</a>
            </div>
            <a href="" class="more-link flex items-center gap-2">
                <span class="text-gray-700 text-sm">More</span>
                <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="fill-current text-gray-700" d="M6.8297 5.2897L2.5897 1.0497C2.49674 0.955976 2.38613 0.881582 2.26428 0.830813C2.14242 0.780044 2.01171 0.753906 1.8797 0.753906C1.74769 0.753906 1.61698 0.780044 1.49512 0.830813C1.37326 0.881582 1.26266 0.955976 1.1697 1.0497C0.983448 1.23707 0.878906 1.49052 0.878906 1.7547C0.878906 2.01889 0.983448 2.27234 1.1697 2.4597L4.7097 5.9997L1.1697 9.5397C0.983448 9.72707 0.878906 9.98052 0.878906 10.2447C0.878906 10.5089 0.983448 10.7623 1.1697 10.9497C1.26314 11.0424 1.37395 11.1157 1.49579 11.1655C1.61763 11.2152 1.74809 11.2405 1.8797 11.2397C2.01131 11.2405 2.14177 11.2152 2.26361 11.1655C2.38544 11.1157 2.49626 11.0424 2.5897 10.9497L6.8297 6.7097C6.92343 6.61674 6.99782 6.50614 7.04859 6.38428C7.09936 6.26242 7.1255 6.13172 7.1255 5.9997C7.1255 5.86769 7.09936 5.73699 7.04859 5.61513C6.99782 5.49327 6.92343 5.38267 6.8297 5.2897Z" fill="#808080"/>
                </svg>
            </a>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Search',
    data() {
        return {
            suggestions: ['RWC Review', 'Success Blog', 'Inspiration', 'Best Deal', 'Skilled Employee', 'Remote Work Resources']
        }
    }
}
</script>

<style lang="scss">

.search-field {
    box-shadow: 0 10px 20px #0001;
}
.popular-searches {
    h5 {
        color: $secondary-color;
    }

    .suggestion-link {
        color: $primary-color;
    }
}

</style>
