<template>

    <div class="max-w-7xl mx-auto py-10 px-4 xl:px-0">

        <!-- Post Loader -->
        <div class="loader flex flex-col items-center max-w-3xl m-auto" v-if="post.isLoading">
            <post-loader/>
        </div>

        <!-- Post -->
        <div class="post-wrapper flex flex-col items-center max-w-3xl m-auto" v-if="!post.isLoading">

            <a href="" class="author text-xl font-light text-gray-500 mx-auto mb-3">{{ post.author.name }}</a>
            <h1 class="post-title text-center mt-4">{{ post.title }}</h1>

            <div v-html="post.content" class="post-content py-6 md:py-10 text-xl font-light text-gray-700 "></div>

        </div>

        <!-- Comments -->
        <div class="comments-wrapper max-w-3xl m-auto border-t">
            <h2 class="text-4xl mt-6">Comments</h2>
            <div class="comments py-6">

                <div class="comment-loader" v-if="post.isLoading">
                    <comment-loader/>
                    <comment-loader/>
                </div>

                <div class="comment flex gap-5 py-2" v-for="(comment, index) in post.comments" :key="index">
                    <img class="bg-green-500 rounded-full w-12 h-12" :src="comment.author.picture"/>
                    <div class="data flex-grow border-b pb-4">
                        <div class="header flex justify-between">
                            <h6 class="author-name">{{ comment.author.name }}</h6>
                            <span class="publish-date text-gray-400">
                                {{ comment.date }}
                            </span>
                        </div>
                        <p class="text-gray-400" v-html="comment.content"></p>
                    </div>
                </div>
            </div>
            <div class="comment-form">
                <form action="">
                    <div class="grid grid-cols-2 gap-3 mb-3 duration-75" v-if="commentForm.showInfos">
                        <input class="p-4 py-3 text-gray-700 shadow-sm border focus:outline-none rounded w-full"
                               placeholder="Full name" v-model="commentForm.name" :disabled="commentForm.isLoading"/>
                        <input class="p-4 py-3 text-gray-700 shadow-sm border focus:outline-none rounded w-full"
                               placeholder="Email" v-model="commentForm.email" :disabled="commentForm.isLoading"/>
                    </div>
                    <textarea rows="3" class="p-4 text-gray-700 shadow-sm border focus:outline-none rounded w-full"
                              placeholder="Type your comment here.."
                              @focus="commentForm.showInfos = true"
                              v-model="commentForm.content"
                              :disabled="commentForm.isLoading">
                    </textarea>
                    <div class="flex justify-between mt-4">
                        <div>
                            {{ commentForm.message }}
                        </div>
                        <div class="actions flex items-center gap-3">
                            <svg class="inline-block w-4 h-4 animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" v-if="commentForm.isLoading">
                                <circle class="opacity-10 stroke-current text-gray-800" cx="12" cy="12" r="10" stroke-width="4"></circle>
                                <path class="opacity-50 fill-current text-gray-800" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                            </svg>
                            <ButtonPrimary @click.prevent="postComment()" :disabled="commentForm.isLoading">
                                Post Comment
                            </ButtonPrimary>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Search Box -->
        <div class="max-w-7xl mx-auto py-10 px-4 xl:px-0">
            <Search/>
        </div>

    </div>

</template>

<script>
import moment from 'moment'
import axios from 'axios'
import PostLoader from '@components/PostLoader'
import CommentLoader from '@components/CommentLoader'
import Search from '@components/Search'

export default {
    name: 'Home',
    components: {
        PostLoader,
        CommentLoader,
        Search
    },
    computed: {
        apiBaseUrl() {
            return this.$store.state.apiBaseUrl
        }
    },
    data() {
        return {
            post: {
                isLoading: true,
                id: '',
                postTitle: '',
                postContent: '',
                author: {
                    name: ''
                },
                comments: {

                }
            },
            commentForm: {
                message: '',
                isLoading: false,
                showInfos: false,
                name: '',
                email: '',
                content: ''
            }
        }
    },
    methods: {
        postComment() {

            this.commentForm.isLoading = true
            axios.post(this.apiBaseUrl + '?rest_route=/wp/v2/comments', {
                'post': this.post.id,
                'author_name': this.commentForm.name,
                'author_email': this.commentForm.email,
                'content': this.commentForm.content
            }).then(() => {
                this.commentForm.message = 'Successfully created.'
            }).catch(() => {
                this.commentForm.message = 'Comment already added.'
            }).finally(() => {

                setTimeout(() => {
                    this.commentForm.message = ''
                }, 2000)

                this.commentForm.isLoading = false
            })

        }
    },
    mounted() {

        let postSlug = this.$route.params.slug

        axios.get(this.apiBaseUrl + '?rest_route=/wp/v2/posts&slug=' + postSlug).then(response => {

            this.post.id = response.data[0].id
            this.post.title = response.data[0].title.rendered
            this.post.content = response.data[0].content.rendered

            document.title = this.post.title

            /* Author */
            axios.get(this.apiBaseUrl + '?rest_route=/wp/v2/users/' + response.data[0].author).then(response => {
                this.post.author.name = response.data.name
            }).catch(errors => {
                console.log(errors)
            })

            /* Replies */
            axios.get(this.apiBaseUrl + '?rest_route=/wp/v2/comments&post=' + response.data[0].id).then(response => {

                this.post.comments = response.data.map((comment) => {
                    return {
                        content: comment.content.rendered,
                        date: moment(comment.date).fromNow(),
                        author: {
                            name: comment.author_name,
                            picture: comment.author_avatar_urls['96']
                        }
                    }
                })

                this.post.isLoading = false

            }).catch(errors => {
                console.log(errors)
            })

        }).catch(errors => {
            console.log(errors)
        })

    }
}
</script>

<style lang="scss">

.post-title {
    line-height: 1.3;
}

.post-content {

    @apply leading-8;

    p:not(:last-child) {
        @apply mb-6;
    }

    figure {
        @apply mb-6;

        img {
            @apply p-0;
            @apply m-0;
        }

        figcaption {
            @apply text-center;
            @apply text-gray-400;
            @apply text-lg;
            @apply mt-2;
        }
    }

    blockquote {
        @apply bg-gray-50;
        @apply text-gray-500;
        @apply p-8;
        @apply my-6;
        @apply rounded;
    }

    ul {
        @apply mb-6;
        @apply list-disc;
        @apply px-6;

        li {
            @apply my-2;
        }
    }

    ol {
        @apply mb-6;
        @apply list-decimal;
        @apply px-6;

        li {
            @apply my-2;
        }
    }

}

</style>