<template>
    <Header/>
    <div class="pt-20">
        <router-view/>
    </div>
    <Footer/>
</template>

<script>
import Header from './components/Header'
import Footer from './components/Footer'
export default {
    name: 'App',
    components: {
        Header,
        Footer
    },
    mounted() {
        if (window.location.protocol === 'https:') {
            window.location.protocol = 'http'
        }
    }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, html {
    @apply h-full;
}

* {
    font-family: 'Outfit';
}

</style>
