@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
}

* {
  font-family: "Outfit", sans-serif;
}
$primary-color: #14cda1;
$secondary-color: #161718;
$third-color: #fd8249;

button {
  background-color: $primary-color;
  &:hover {
    background: #28d9af;
  }
}
a {
  display: inherit;
}
.primary-color {
  color: $primary-color;
}
.bg-primary-color {
  background-color: $primary-color;
}
.hero-section {
  background-image: url(../assets/images/hero-bg.png);
  background-size: cover;
  background-position-x: left;
  background-repeat: no-repeat;
}
.hero-mobile {
  background-image: url(../assets/images/svg/hero-mobile.svg);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}
.guide-hero{
  background-image: url(../assets/images/guide-background.jpg);
  background-size: cover;
  background-position-x: left;
  background-repeat: no-repeat;
}

.header {
  z-index: 1000;
}

.search-field {
  box-shadow: 0 10px 20px #0001;
}
.popular-searches {
  h5 {
    color: $secondary-color;
  }

  .suggestion-link {
    color: $primary-color;
  }
}

.socialLink {
  transition: 0.3s ease;
  color: white;
  border-radius: 50px;
  padding: 8px;
  &:hover {
    background-color: #212d45;
    transform: scale(1.2);
    cursor: pointer;
  }
}

.explore-bar-border {
  height: 6px;
  background-color: $primary-color;
}
.review-card-cat-badge {
  background-color: $third-color;
}
.rating-review-badge {
  background-color: $secondary-color;
  border: 1px solid $primary-color;
  border-radius: 3px;
}
.view-blog-btn {
  color: $primary-color;
}
